{
  "extends": "airbnb/base",
  "env": {
    "browser": false,
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "func-names": 0,
    "no-param-reassign": 0,
    "no-new": 0,
  },
  "globals": {
    "_config": true
  }
}